body {
    background-color: lightgoldenrodyellow;
    color: #ffb6c1;
}

.profile-image {
    display: block;
    width: 200px;
    height: auto;
    position: absolute;
    top: 10px;
    right: 10px;
}