body {
    background-color: lightgoldenrodyellow;
    color: #ffb6c1;
    font-family: 'Source Sans Pro', sans-serif;
}

.profile-image {
    width: 200px;
    height: auto;
    position: absolute;
    top: 10px;
    right: 10px;
    border: 3px solid palevioletred;
    border-radius: 100px;
}